.white-text {
    color: white;
}

ul {
    list-style: none;
}

body>header {
    padding: 1rem;
    background: dodgerblue;
    /*  */
    display: flex;
    /* makes title and nav seperate to either side of the page */
    Justify-content: space-between;
    /* moves childrens vertical position to the middle */
    align-items: center;
}

header>nav>ul {
    padding: 0;
    /* makes children <li> align next to each other */
    display: flex;
    /* makes the ul space out it's children */
    gap: 1rem;
}

body>main {
    margin: 3rem;
}

#author {
    padding: 1rem;
    border: 2px dashed #eee;
    display: flex;
    gap: 1rem;
}

#author>img {
    border-radius: 100%;
}

body>footer {
    padding: 1rem;
    background: dodgerblue;
}

#footer-container{
    display: flex;
    /* gap: 1rem; */
    justify-content: space-around;
    align-items: center;
}

/* #footer-container > div {
    display: flex;
    justify-content: space-evenly;
} */